body {
    background-color: #000000;
    }

.header {
    text-align: center;
    position: relative; top: 20px;
}

.nav-bar {
    background: #ffffff;
    margin: auto;
    padding: 0%;
    position:relative; top: -15px;
    height: 50px;
    width: 100%;
}

.nav-home-button {
    position: relative; top: 15px; left: 30px;
}

.nav-download-button {
    position: relative; top: -6px; left: 100px;
}

.nav-dependencies-button {
    position: relative; top: -27px; left: 195px;
}

.nav-servermaker-button {
    position: relative; top: -48px; left: 318px;
}